* {
  box-sizing: border-box;
}

h3 {
  text-align: center;
  color: hwb(180 0% 0%);
  font-family: sans-serif;
}

.axisX path,
.axisY path,
.axisX line,
.axisY line {
  fill: none;
  stroke: rgb(12, 12, 12);
  shape-rendering: crispEdges;
}

.axisX text,
.axisY text,
.xAxisLabel {
  font-family: sans-serif;
  font-size: 10px;
}

.column-left {
  float: left;
  width: 85%;
}
.column-right {
  float: left;
  width: 15%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div.tooltip {
  position: absolute;
  max-width: 200px;
  height: auto;
  padding: 5px;
  background-color: rgb(233, 227, 227);
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
}

#profit-total {
  text-align: right;
  margin-right: 20px;
}
