* {
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}

h1,
h2,
h3,
h4,
p {
  padding-left: 10px;
}

h3 {
  text-align: center;
  color: hwb(180 0% 0%);
  font-family: sans-serif;
}

.axisX path,
.axisY path,
.axisX line,
.axisY line {
  fill: none;
  stroke: rgb(12, 12, 12);
  shape-rendering: crispEdges;
}

.axisX text,
.axisY text,
.xAxisLabel {
  font-family: sans-serif;
  font-size: 10px;
}

.avg-price-hide {
  display: none;
}

table,
th,
td {
  padding: 8px;
  height: 100%;
}

td-bold {
  font-weight: 'bold';
}

/* tr:nth-child(even) {
  background-color: #d6eeee;
} */

/* .avg-price {
  padding-left: 100px;
} */

.column-left {
  float: left;
  width: 65%;
}
.column-right {
  float: right;
  width: 35%;
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

div.tooltip {
  position: absolute;
  max-width: 200px;
  height: auto;
  padding: 5px;
  background-color: rgb(233, 227, 227);
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
}

#profit-total {
  font-weight: bold;
  font-size: 1.2em;
}
